@{
    ViewBag.Title = "Create Person";
}

@if (ViewBag.Errors != null)
{
    <ul>
        @foreach (string error in ViewBag.Errors)
        {
            <li>@error</li>
        }
    </ul>
}
<form action="/persons/create" method="post">
    <div class="row mb-3">
        <input type="text" name="FirstName" class="form-control" placeholder="First name">
    </div>
    <div class="row mb-3">
        <input type="text" name="LastName" class="form-control" placeholder="Last Name">
    </div>
    <div class="row mb-3">
        <input type="email" name="Email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
    <div class="row mb-3">
        <input type="text" name="JobTitle" class="form-control" placeholder="Job Title">
    </div>
    <div class="row mb-3">
        <input type="text" name="Salary" class="form-control" placeholder="Salary">
    </div>
    <div class="row mb-3">
        <input type="date" name="DateOfBirth" class="form-control" placeholder="Date Of Birth">
    </div>
    <div class="row mb-3">
        <input type="text" name="Country" class="form-control" placeholder="Country">
    </div>
    <div class="row mb-3">
        <input type="text" name="Address" class="form-control" placeholder="Address">
    </div>

    <fieldset class="row mb-3">
        <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
        <div class="col-sm-10">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="Gender" id="gridRadios1" value="Male" checked>
                <label class="form-check-label" for="gridRadios1">
                    Male
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="Gender" id="gridRadios2" value="Female">
                <label class="form-check-label" for="gridRadios2">
                    Female
                </label>
            </div>
        </div>
    </fieldset>
    <button class="btn btn-primary">Create</button>
</form>